<div>
    <div class="btn-group options" dropdown>
        <button type="button" class="btn options-button" dropdownToggle>
                {{sortType}} <span class="caret"></span>                
       </button>
        <ul class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let type of sortTypes">
                <a class="dropdown-item" href="" (click)='changeSortType(type)'>{{type}}</a>
            </li>
        </ul>
    </div>
    <div class="btn-group options">
        <button type="button" class="btn options-button" style='padding: 3px 6px' (click)='changeSortBy()'>
            <i class="fa fa-arrow-{{ up ? 'up' : 'down' }}" aria-hidden="true"></i>                         
       </button>
    </div>
    <div class="btn-group options" dropdown>
        <button type="button" class="btn options-button" dropdownToggle>
                {{limit}} <span class="caret"></span>                
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="menuitem" *ngFor="let limitType of limits">
                <a class="dropdown-item" href="" (click)='limitChanged(limitType.name)'>{{limitType.name}}</a>
            </li>
        </ul>
    </div>
</div>