<div class="busyable">
    <loader [async]='trackerApi.getLastAdded()' [active]='loading'></loader>
    <div style="background-color: #fff">
        <span class="link">Last added</span>
    </div>
    <div class='car-list'>
        <a *ngFor="let car of  lastAdded" [routerLink]="['Details', { id: car.carId }]" class='car-container'>
            <div class='model-info'>
                <label>{{car.description}} {{car.url}}</label>
            </div>
            <img [src]="(car.image)" alt="image">
        </a>
    </div>
</div>