@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css");
* {
    margin: 0;
}

html {
    color: #333;
    font-size: 1em;
    line-height: 1.42857143;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow-y: scroll;
}

h1 {
    font-size: 2.074em;
}

h2 {
    font-size: 1.728em;
}

h3 {
    font-size: 1.44em;
}

h4 {
    font-size: 1.2em;
}

small {
    font-size: 0.833em;
}

.box {
    padding: 1.25em;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -65px;
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 65px;
}

.site-footer {
    background-color: green;
}

@media screen and (min-width: 1400px) {
    html {
        font-size: 1.25em;
    }
}

.content-area {
    max-width: 75em;
    margin: 0 auto;
    padding-top: 15px;
}

body, html {
    font-size: 1rem;
    height: 100%;
    background-color: #eceff1;
}

.busyable {
    position: relative!important;
    min-height: 500px;
}

.app-header {
    background: #fff;
}

.app-footer {
    padding: 1.5em 0;
    height: 100%;
    font-size: 0.9em;
    background: #fff;
    text-align: center;
}

.my-card {
    padding: 1em;
    background: #FFF;
    box-shadow: 0 1px 3px rgba(220, 220, 220, 0.12), 0 1px 2px rgba(177, 169, 169, 0.24);
    margin-bottom: 16px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.sticky {
    position: fixed;
    height: auto;
    z-index: 99;
    width: auto;
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.padding-shrink-right {
    padding-right: 7px;
}

.padding-shrink-left {
    padding-left: 7px;
}

@media (max-width: 768px) {
    .padding-shrink-right {
        padding-right: 15px;
    }
    .padding-shrink-left {
        padding-left: 15px;
    }
}

.options-button {
    color: #546E7A;
    border-radius: 2px;
    font-size: 14px;
    padding: 3px 3px 3px 10px;
    border: 1px solid #cfd8dc;
    background: #ECEFF1;
    color: #455A64;
    border-color: #cfd8dc;
}

.box-content {
    padding-top: 10px;
}

.open-link {
    color: #337ab7;
    text-decoration: underline;
    font-size: 15px;
}

.search-button {
    position: absolute;
    top: 0;
    padding: 5px 15px;
    background-color: green;
    height: 60px;
}