<div class="card">
    <div class="card-header" style="position: relative; display: flex;">
        <span style='flex:1 0 auto'>Personal settings</span>
    </div>
    <div class="info-panel" *ngIf='error || info' [ngClass]='{error: error, info: info}'>{{info || error}}</div>
    <div class="card-block">
        <div class="row">
            <div class="col-md-12">              
                <form [ngFormModel]="personalForm">
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" [(ngModel)]='model.name' placeholder="name" ngControl="name">
                    </div>
                    <div class="form-group">
                        <label for="location">Location</label>
                        <input type="location" class="form-control" id="location" [(ngModel)]='model.location' placeholder="password" ngControl="location">
                    </div>
                    <div class="form-group">
                        <button (click)="onSubmit()" class="btn btn-primary submit-form-button">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>