 .my-steps {
   padding: 0.2em 1em;
   display: flex;
   &.custom-icons li > *::before {
     /* add a custom icon before each item */
     content: '';
     display: inline-block;
    
     height: 20px;
     width: 20px;
     margin-right: .4em;
     margin-top: -2px;
     background: url(/static/assets/img/cd-custom-icons-01.png) no-repeat 0 0;
     vertical-align: middle;
   }
   li {
     //display: inline-block;
     list-style: none;
     flex: 0 1 auto;
     margin: 0.5em 0;
     &::after {
       display: inline-block;
       content: '\00bb';
       margin: 0 .6em;
       color: #959fa5;
     }
     &:last-of-type::after {
       display: none;
     }
     &:li.current > * {
       /* selected step */
       color: #96c03d;
     }
     &:invalid > * {
       /* invalid step */
       color: #BF3D27!important;
     }
   }
   li > * {
     display: inline-block;
     font-size: 1rem;
     color: #2c3f4c;
   }
   // apply images to steps
   &.custom-icons li.img > *::before {
     background-position: -20px 0px;
   }
   &.custom-icons li.info > *::before {
     background-position: 0px 0px;
   }
   &.custom-icons li.prv > *::before {
     background-position: -60px 0px;
   }
   &.custom-icons li.opt > *::before {
     background-position: -40px 0px;
   }
   &.custom-icons li.current.img > *::before {
     background-position: -20px -20px;
   }
   &.custom-icons li.current.info > *::before {
     background-position: 0px -20px;
   }
   &.custom-icons li.current.prv > *::before {
     background-position: -60px -20px;
   }
   &.custom-icons li.current.opt > *::before {
     background-position: -40px -20px;
   }
   &.custom-icons li.invalid > *::before {
     background-position: -20px -60px!important;
   }
   a {
     text-decoration: none;
   }
 }