<div class="row">
    <div class="col-md-12 col-lg-9 col-sm-12">
        <div class="my-card">
            <div class='col-md-12 col-lg-9 col-sm-12' style='display:flex'>                
                <h3 style='text-align: end;padding: 15px;margin: 0;'>OPTIONS TAB IS NOT INMPLEMENTED YET</h3>
            </div>
        </div>
    </div>
    <div class="col-md-12 col-lg-3 col-sm-12">
        <button type="button" (click)='onNext()' class="btn btn-primary next-button">
           <i class="fa fa-arrow-right" aria-hidden="true"></i>
                Next preview ad
        </button>
    </div>
</div>