<head>
    <title>{{ seo.title }}</title>
    <meta charset="UTF-8">
    <meta name="description" content="Market concept">
    <meta name="keywords" content="Market Concept">
    <meta name="author" content="Aksenchyk V">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
   <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css">-->

        <link rel="stylesheet" href="/build/cl/assets/styles/bootstrap.css">
    <link rel="stylesheet" href="/build/cl/assets/styles/main.css">
    <base href="/">
    <universal-styles></universal-styles>
</head>

<body>
    <app>
        Loading...
    </app>
    <server-only-app [some]="'wow1'">
        Loading...
    </server-only-app>
    <script src="/build/cl/vendors.js"></script>
    <script src="/build/cl/main.js"></script>
</body>