<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Funny market</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <base href="/">
    <link rel="stylesheet" href="/build/cl/assets/styles/bootstrap.css">
    <link rel="stylesheet" href="/build/cl/assets/styles/main.css">
</head>

<body>
    <app>
        Loading...
    </app>
    <script src="/build/cl/vendors.js"></script>
    <script src="/build/cl/main.js"></script>
</body>

</html>